<h1> New User Sign Up! </h1>

<form action="<%= users_url %>" method="post">
    <%= auth_token %>

    <label>Email:
        <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>
    <br>
    <label> Password:
        <input type="password" name="user[password]" value="<%= @user.password %>">
    </label>
    <br>
    <input type="submit" >

</form>